export DATABASE_URL=ecto://postgres:postgres@postgres/nappy_dev
export SECRET_KEY_BASE="qAweoF9chcaz5OFlS/Gz+Udos7nS9135EiE2NDSIEWe0beoMT61IY1rXZMpa1Li7"
export PHX_HOST=127.0.0.1
export GETTY_API_KEY=
export GETTY_API_SECRET=
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_DB=nappy_dev
export IMGIX_URL="http://localhost:9000/"
export WASABI_IMAGE_PATH="nappy/photos/"
export MINIO_ROOT_USER=minio-root-user
export MINIO_ROOT_PASSWORD=minio-root-password
export MINIO_DEFAULT_BUCKETS=nappy-prod,test-bucket
export MINIO_SERVER_ACCESS_KEY=minio-access-key
export MINIO_SERVER_SECRET_KEY=minio-secret-key
