DATABASE_URL=ecto://postgres:postgres@postgres/nappy_dev
SECRET_KEY_BASE="qAweoF9chcaz5OFlS/Gz+Udos7nS9135EiE2NDSIEWe0beoMT61IY1rXZMpa1Li7"
PHX_HOST=127.0.0.1
GETTY_API_KEY=
GETTY_API_SECRET=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nappy_dev
IMGIX_URL="http://localhost:9000/"
WASABI_IMAGE_PATH="nappy/photos/"
MINIO_ROOT_USER=minio-root-user
MINIO_ROOT_PASSWORD=minio-root-password
MINIO_DEFAULT_BUCKETS=nappy-prod,test-bucket
MINIO_SERVER_ACCESS_KEY=minio-access-key
MINIO_SERVER_SECRET_KEY=minio-secret-key
SUBSCRIPTION_HOST=
SENDY_API_KEY=
SENDY_MEMBERS_LIST=
SENDY_PHOTOGRAPHERS_LIST=
