<h1 class="text-3xl font-tiempos-bold text-center my-8">
  Thanks! you're subscribed! 🙌🏿
</h1>
<div class="container max-w-[500px] text-center mx-auto">
  <img src="https://media.giphy.com/media/KDywx24YXcY9i/giphy.gif" width="100%" />
</div>
