<h1 class="text-3xl font-tiempos-bold text-center my-8">
    Check your email to confirm your subscription
</h1>
<div class="container max-w-[500px] text-center mx-auto">
    <img src="https://media.giphy.com/media/3oriNUctGOi5sTtvGg/source.gif" width="100%">
</div>
