<h1>Show Subscriber</h1>

<ul>
  <li>
    <strong>Is photographer:</strong>
    <%= @subscriber.is_photographer %>
  </li>
</ul>

<span><%= link("Edit", to: Routes.subscriber_path(@conn, :edit, @subscriber)) %></span> |
<span><%= link("Back", to: Routes.subscriber_path(@conn, :index)) %></span>
