<div class="m-4 container mx-auto">
  <div align="center">
    <%= Nappy.app_name() %> is brought to you by
    <a href="https://shade.co" target="_blank" rel="noopener noreferer nofollow">SHADE</a>
    and <a href="https://boogiebrands.co" target="_blank" rel="noopener noreferer nofollow">Boogie Brands</a>.
  </div>
</div>
