<main>
  <div class="container relative mx-auto">
    <p
      class="alert alert-info hover:cursor-pointer"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"><%= live_flash(@flash, :info) %></p>

    <p
      class="alert alert-danger hover:cursor-pointer"
      role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  </div>

  <%= @inner_content %>
</main>
