<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
    <%= csrf_meta_tag() %>
    <.live_title suffix={Nappy.default_title_suffix()}>
      <%= assigns[:page_title] || Nappy.app_name() %>
    </.live_title>
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/tiempos.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/brands.min.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/fontawesome.min.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/solid.min.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/regular.min.css")}
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css"
      rel="stylesheet"
      type="text/css"
    />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/js/app.js")}
    >
    </script>
  </head>
  <body>
    <div class="border-b border-slate-20 mb-8">
      <nav class="container mx-auto">
        <%= render("_user_menu.html", assigns) %>
      </nav>
    </div>
    <%= @inner_content %>
    <hr class="mt-8" />
    <footer class="mt-4 mb-8 container mx-auto">
      <%= render("footer.html", assigns) %>
    </footer>
    <hr class="mt-8" />
    <%= render("copyright.html") %>
  </body>
</html>
