<section class="h-screen flex flex-col justify-center items-center container mx-auto">
  <i class="mb-24 text-[150px] fa-regular fa-2xl fa-face-frown"></i>
  <p class="flex flex-col font-tiempos-bold text-5xl items-center">
    Page not found. <a class="mt-2 underline font-sans text-base" href="/">Take me back home.</a>
  </p>
</section>
