<section class="h-screen flex flex-col justify-center items-center container mx-auto">
  <i class="mb-24 text-[150px] fa-regular fa-2xl fa-face-frown"></i>
  <p class="flex flex-col font-tiempos-bold text-5xl items-center">
    You've encountered a problem.
    <span class="mt-2 font-sans text-base">
      You can reach out to
      <a class="underline" href="mailto:#{Nappy.support_email()}"><%= Nappy.support_email() %></a>
      about this issue.
    </span>
  </p>
</section>
