<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= if NappyWeb.Endpoint.url() != "https://dev.nappy.co" do %>
      <SEO.juice conn={@conn} config={NappyWeb.SEO.config()} page_title={assigns[:page_title]} />
    <% end %>
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/tiempos.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/brands.min.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/fontawesome.min.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/solid.min.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/fonts/regular.min.css")}
    />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/js/app.js")}
    >
    </script>
  </head>
  <body>
    <header class="container mx-auto">
      <%= render("_user_menu.html", assigns) %>
    </header>
    <main class="container mx-auto">
      <%= @inner_content %>
    </main>
    <footer class="container mx-auto">
      <%= render("footer.html", assigns) %>
    </footer>
  </body>
</html>
