<section class="container mx-auto mt-8">
  <div class="mt-4 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="flex relative overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <Component.admin_sidebar_nav socket={@socket} path={@path} />
        </div>
      </div>
    </div>
  </div>
</section>
